:root {
    --primary: #ff007a; /* Knall-Pink */
    --bg: #000000;
}

body, html {
    margin: 0; padding: 0;
    font-family: 'Arial Black', sans-serif;
    background-color: var(--bg);
    color: white;
    height: 100%;
}

section {
    position: absolute; width: 100%; height: 100%;
    display: flex; justify-content: center; align-items: center;
    padding: 20px; box-sizing: border-box;
    transition: 0.5s ease-in-out;
}

#welcome { background: var(--primary); }
#quiz { background: #111; }
#result { background: #000; border-top: 5px solid var(--primary); }

.hidden { opacity: 0; pointer-events: none; }
.active { opacity: 1; }

.btn-main {
    padding: 20px 50px; background: white; color: var(--primary);
    border: none; border-radius: 50px; font-weight: 900; cursor: pointer;
}

/* PayPal Button Grid */
.pay-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-top: 20px;
}

.btn-pay {
    background: #222; border: 2px solid var(--primary); color: white;
    padding: 15px 5px; border-radius: 12px; cursor: pointer; font-weight: bold;
    font-size: 1.1rem; transition: 0.2s;
}

.btn-pay span { font-size: 0.6rem; text-transform: uppercase; display: block; margin-top: 5px; }

.btn-pay.highlight {
    background: var(--primary);
    transform: scale(1.1);
}

#swag-value {
    font-size: 6rem; color: var(--primary); font-weight: 900;
    text-shadow: 0 0 30px var(--primary);
}